h2 {
    color=rgb(100, 100, 100);
    background=rgb(228, 14, 88);
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

nav {
    background-color: #e2ee83
}

a.btn-login {
    padding-top: 0.8rem;
    background-color: #bfd833;
    font-family:cursive;
    font-size: 20px;
    border-radius: 4px;
    height: 60px
}

a.btn-login:hover {
    background-color: #a2b827;
}

#picture{
    background-image: url_for('static', filename='images/эмблема.png'), no-repeat;
}