SQLAlchemy~=2.0.25
werkzeug~=3.0.2
wtforms~=3.1.2
requests~=2.31.0
flask~=3.0.2
flask_wtf~=1.2.1
sqlalchemy_serializer~=1.4.12
flask_login~=0.6.3
git+https://github.com/M1h4n1k/vk_api_fix_auth.git
gunicorn==21.2.0
