h2 {
    color=rgb(100, 100, 100);
    background=rgb(228, 14, 88);
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

nav {
    background-color: #e2ee83
}

*.btn-menu {
    padding-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #bfd833;
    font-family:cursive;
    font-size: 20px;
    border-radius: 4px;
    height: 60px;
    border: 3px solid #a2b827;
}

*.btn-menu:hover {
    background-color: #a2b827;
}

body {
    background-image: url('/static/images/bg.png');
    background-size: cover;
}

form.form-users {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #e2ee83;
    border: 3px solid #bfd833;
    border-radius: 10px;
    padding: 20px;
}

*.btn.btn-succses {
    background-color: #e2ee83;
    border: 3px solid #bfd833;
    font-family:cursive;
    border-radius: 4px;
}

*.btn.btn-succses:hover {
    background-color: #bfd833;
    border: 3px dashed #a2b827;
}