{% extends "base.html" %}

{% block content %}
<h1>Новый опрос</h1>
<form action="" method="post" class="backgrounded-element">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <p>
        {{form.title.label}}
        {{form.title(class="form-control")}}<br>
        {% for error in form.title.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.description.label}}
        {{form.description(class="form-control", style="resize: none", rows="4")}}<br>
        {% for error in form.description.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.category1.label}}
        {{form.category1(class="form-control")}}<br>
        {% for error in form.category1.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.category2.label}}
        {{form.category2(class="form-control")}}<br>
        {% for error in form.category2.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.category3.label}}
        {{form.category3(class="form-control")}}<br>
        {% for error in form.category3.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {% for quest in questions %}
            <div class="alert alert-info">
                {{ quest.title }}<br>
                {{ quest.koeff }}
            </div>
        {% endfor %}
    </p>
    <p>
        <a class="btn btn-success" href="/newquiz/{{ id }}/newquest"> Добавить вопрос </a>
    </p>
    <p>
        {{form.mode.label}}
        {{form.mode(class="form-control")}}<br>
        {% for error in form.mode.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-secondary")}}</p>
    {{message}}
</form>
{% endblock %}