{% extends "base.html" %}

{% block content %}
<h1>Добавление вопроса</h1>
<form action="" method="post" class="backgrounded-element">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <p>
        {{form.title.label}}
        {{form.title(class="form-control", placeholder='Обязателен')}}<br>
        {% for error in form.title.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.answer1.label}}
        {{form.answer1(class="form-control", placeholder='Обязателен')}}<br>
        {% for error in form.answer1.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.answer2.label}}
        {{form.answer2(class="form-control", placeholder='Обязателен')}}<br>
        {% for error in form.answer2.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.answer3.label}}
        {{form.answer3(class="form-control", placeholder='По желанию')}}<br>
        {% for error in form.answer3.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.answer4.label}}
        {{form.answer4(class="form-control", placeholder='По желанию')}}<br>
        {% for error in form.answer4.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.answer5.label}}
        {{form.answer5(class="form-control", placeholder='По желанию')}}<br>
        {% for error in form.answer5.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>
        {{form.answer6.label}}
        {{form.answer6(class="form-control", placeholder='По желанию')}}<br>
        {% for error in form.answer6.errors %}
            <p class="alert-danger" role="alert">
                {{error}}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-secondary")}}</p>
    {{message}}
</form>
{% endblock %}