{% extends "base.html" %}

{% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{{ url_for('static', filename='images/default/motivation1.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{{ url_for('static', filename='images/default/motivation2.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{{ url_for('static', filename='images/default/motivation3.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    {% for quiz in quizes %}
        {% if quiz.publicated %}
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename=quiz.cover) }}" class="card-img-top" alt="Обложка">
                <div class="card-body">
                <h5 class="card-title">{{ quiz.title }}</h5>
                    <p class="card-text">{{ quiz.description }}</p>
                    {% for cat in quiz.categories %}
                        <p class="card-text">{{ cat.name }}</p>
                    {% endfor %}
                    <a href="/quiz/{{ quiz.id }}" class="btn btn-primary">Открыть тест</a>
                    {% if quiz.authorid == current_user.id%}
                        <a href="/newquiz/{{ quiz.id }}/delete" class="btn btn-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}