{% extends "base.html" %}

{% block content %}
{% if data %}
    <link rel="stylesheet" href="{url_for('static', filename={{data.picture}})}">
    <h1>{{data.name}} {{data.surname}}, {{data.age}} лет</h1>
    <a class="btn btn-menu" href="/logout">Выйти</a>
    <a class="btn btn-menu" href="/edit_profile">Редактировать</a>
{% else %}
    <img src="static/images/default/avatar.jpg">
    <h1>Аноним, 5 лет(с половиной)</h1>
    <a class="btn btn-menu" href="/logout">Выйти</a>
    <a class="btn btn-menu" href="/edit_profile">Редактировать</a>
{% endif %}
{% endblock %}