{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center">Регистрация пользователей через ВК</h1>
<form action="" class="backgrounded-element" method="post" style="width: 50%">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <h6>{{ form.login.label }}</h6>
    {{form.login(class="form-control")}}<br>
    {% for error in form.login.errors %}
        <p class="alert-danger" role="alert">
            {{error}}
        </p>
    {% endfor %}
    <h6>{{form.password.label}}</h6>
    {{form.password(class="form-control", type="password")}}<br>
    {% for error in form.password.errors %}
        <p class="alert-danger" role="alert">
            {{error}}
        </p>
    {% endfor %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col align-self-start" style="text-align: left">
                {{ form.submit(type="submit", class="btn btn-succses") }}
            </div>
        </div>
    </div>
    {% if message %}
    <div class="alert alert-danger">
        {{message}}
    </div>
    {% endif %}
</form>
{% endblock %}